body {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #4D5053;
    font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/* ============= Header ================ */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #FFFFFF;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.header-logo-img {
    width: 177px;
}

.header-list {
    display: flex;
}

.header-list-item:not(:last-child) {
    margin-right: 40px;
}


.header-list-link {
    line-height: 1.58;
    letter-spacing: 0.4px;
    color: #292F36;
    font-size: 19px;
}

.header-list-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scale(0);
    transform-origin: center right;
    transition: transform 300ms ease-in-out;
}

.header-list-link:hover {
    color: #CDA274;
}

.header-list-link:hover:after {
    transform: scale(1.1);
    transform-origin: center left;

}

/* Main */
.hero-section {
    height: 831px;
    max-width: 100%;

    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0px 0px 0px 290px;

    display: flex;
    align-items: center;
}

.hero-title {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 1.2;
    letter-spacing: 0.22px;
    color: #292F36;
}

.hero-text {
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.22px;
    color: #4D5053;
    margin-bottom: 35px;
}

.hero-button {
    width: 207px;
    height: 71px;
    background-image: url(../images/main-btns/btn.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    border-radius: 18px;
    padding: 22px 67px 22px 24px;

    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.72px;
    color: #FFFFFF;

    cursor: pointer;
}

/* ============= Advantages ================= */
.feature-section {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 75px 50px;
}

.feature-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.56;
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
    margin-bottom: 17px;
}

.feature-text {
    max-width: 317px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.22px;
    margin-bottom: 48px;
}

.feature-link {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.36px;
}

.feature-link::after {
    content: "";
    width: 24px;
    height: 17px;
    margin-left: 6px;
    background-image: url(../images/icons/arrow.svg);
    background-size: contain;
}

/* ================ Design ==================== */
.design-section {
    margin-bottom: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.design-title {
    width: 450px;
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 50px;
    line-height: 1.3;
    letter-spacing: 0.22px;
    color: #292F36;
    margin-bottom: 42px;
}

.design-text {
    width: 492px;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.22px;
    margin-bottom: 30px;
}

.design-phone-link {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.design-phone-link:hover .design-phone-button {
    transition: transform 500ms ease-in-out, background-color 400ms ease-in-out;
    transform: rotate(90deg);
    background-color: #CDA274;
}

.design-phone-link:hover .design-phone-icon {
    fill: #F4F0EC;
}

.design-phone-button {
    width: 93px;
    height: 93px;
    border-radius: 50%;
    background-color: #F4F0EC;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.design-phone-icon {
    width: 34px;
    height: 34px;
    fill: #CDA274;
}

.design-phone-number {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.design-phone-text {
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.design-button {
    width: 263px;
    height: 71px;
    background-image: url(../images/main-btns/btn.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    border-radius: 18px;
    padding: 22px 67px 22px 34px;

    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.72px;
    color: #FFFFFF;

    cursor: pointer;
}

.design-button:hover {
    transition: transform 500ms ease-in-out;
    transform: scale(1.2);
}

.design-img {
    width: 600px;
}

/*=========================== Feedback ===========================*/
.feedback-section {
    width: 1200px;
    height: 675px;
    background-color: #F4F0EC;
    border-radius: 70px;
    margin-bottom: 140px;
}

.feedback-title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 45px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
    padding-top: 103px;
    padding-bottom: 45px;
}

.feedback-list {
    display: flex;
    justify-content: center;
}

.feedback-item {
    width: 354px;
    height: 287px;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 45px 30px 45px 35px;
}

.feedback-item:not(:last-child) {
    margin-right: 17px;
}

.feedback-img {
    width: 77px;
    height: 77px;
    margin-right: 20px;
}

.feedback-user {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.feedback-name {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 0.22px;
    color: #292F36;
}

.feedback-location {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.feedback-text {
    width: 274px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

/* ===================== Brand Section ======================*/
.brand-section {
    margin-bottom: 100px;
}

.brand-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*======================= Projects Section =====================*/
.projects-section {
    margin-bottom: 80px;
}

.projects-title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 47px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
    margin-bottom: 20px;
}

.projects-text {
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.22px;
    margin-bottom: 70px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 20px;
}

.projects-item {
    width: 520px;
    flex-basis: calc((100% - 20px) / 2);
}

.projects-item-title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.56;
    letter-spacing: 0.22px;
    color: #292F36;
    margin-top: 24px;
}

.projects-item-text {
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.22px;
    color: #4D5053;
}

.projects-item-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.projects-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F4F0EC;
}

.projects-item-link:hover {
    transition: background-color 400ms ease-in-out;
    background-color: #CDA274;
}

.projects-item-link:hover .projects-item-icon {
    transition: fill 400ms ease-in-out;
    fill: #F4F0EC;
}

.projects-item-icon {
    width: 20px;
    height: 20px;
}

/*======================= Statistics Section =======================*/
.stats-section {
    height: 475px;
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: #F4F0EC;
}

.stats-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-item {
    width: 288px;
    height: 195px;
}

.stats-item:not(:last-child) {
    border-right: 1px solid #CDA274;
    margin-right: 16px;

}

.stats-title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 85px;
    line-height: 128px;
    text-align: center;
    letter-spacing: 1.7px;
    color: #CDA274;
}

.stats-text {
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #4D5053;
}

/*====================== Blogs Section ===========================*/
.blogs-section {
    margin-bottom: 140px;
}

.blogs-title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 48px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
    padding-top: 143px;
    margin-bottom: 21px;
}

.blogs-text {
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.22px;
    margin-bottom: 70px;
}

.blogs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.blogs-item {
    flex-basis: calc((100% - 40px) / 3);
    border: 1px solid #E7E7E7;
    border-radius: 62px;
    padding: 21px 20px 40px 20px;
}

.blogs-item:hover {
    transition: box-shadow 400ms ease-in-out;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.blogs-item-title {
    width: 334px;
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    color: #292F36;
    margin-bottom: 10px;
}

.blogs-item-date {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.blogs-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogs-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #F4F0EC;
}

.blogs-item-link:hover {
    transition: background-color 400ms ease-in-out;
    background-color: #CDA274;
}

.blogs-item-link:hover .blogs-item-icon {
    transition: fill 400ms ease-in-out;
    fill: #F4F0EC;
}

.blogs-item-icon {
    width: 15px;
    height: 15px;
}

/* Join Section */

.join-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 414px;
    border-radius: 70px;
    background-color: #292F36;
    margin-bottom: 80px;
}

.join-title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 50px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.join-text {
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.join-btn {
    width: 241px;
    height: 71px;
    background-image: url(../images/main-btns/join-btn.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    border-radius: 18px;
    padding: 22px 67px 22px 34px;

    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.72px;
    color: #FFFFFF;

    cursor: pointer;
}

.join-btn:hover {
    transition: transform 500ms ease-in-out;
    transform: scale(1.2);
}

/* =========== Footer =========== */
.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.social-links {
    margin-right: 84px;
}

.footer-logo {
    width: 177px;
}

.social-links-text {
    width: 326px;
    line-height: 1.5;
    letter-spacing: 0.22px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.social-links-list {
    display: flex;
    align-items: center;
}

.social-links-item:not(:last-child) {
    margin-right: 40px;
}

.social-links-icon {
    width: 25px;
    height: 25px;
    fill: #292F36;
}

.social-links-icon:hover {
    transition: fill 400ms ease-in-out;
    fill: #CDA274;
}

.pages {
    width: 210px;
}

.footer-title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 0.22px;
    color: #292F36;
    margin-bottom: 22px;
}

.footer-item {
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.footer-item:not(:last-child) {
    margin-bottom: 30px;
}

.explore {
    width: 210px;
}

.contact {
    width: 321px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-copyright {
    border-top: 1px solid #E5E5E5;
}

.footer-copyright-text {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.22px;
    padding: 35px 0;
}

.footer-copyright-span {
    color: #CDA274;
}